/*manipulacion de links*/
#toolbar a.starter{
    padding-left:20px;
}

#toolbar a{
    color: #1a0900;
    padding:10px;
    text-decoration: none;
}

html {
    scroll-padding-top: 20px; /* height of sticky header */
  }

/*manipulacion de trasfondo*/
nav{
    margin-top: -10px;
    position:fixed;
    background-color:antiquewhite;
    width: 100%;
    border-bottom-style:solid;
    border-width: 1px;
    padding:1px 0px 1px 0px;

}



#introduccion{
    background-image:url("images/bg/background.png");
    margin-top:10px;

}

#about{
    background: -webkit-linear-gradient(top left, lightblue, white, lightyellow);
    width:100%;
}

div.wrapper{
    max-width:95%;
    background-color:rgba(255,255,255,0.45);
    margin-left:1%;
    margin-right:2%;
    margin-bottom:10px;
    
}

#proyectos{
    background-image: url("images/bg/bgnight.png");
    color:antiquewhite;
    margin-top:0;
    width:100%
}

#skillset table{
    background: rgba(0, 0, 0, 0.7);
}

#skillset{
    background-image: url("images/bg/bgskills.png");
    color:antiquewhite;
    width:100%;
}

footer{
    padding: 3px 0 3px 0;
    background-color: black;
    color:white;

}

/*manipulacion de texto*/
body{
    font-family:Arial, Helvetica, sans-serif;
}
ul:not(#container){
    line-height:25px;
}


#container a:link{
    color:lightgrey;
}

#container a:visited{
    color:grey;
}

#container a:hover{
    color:white;
}

#skillset ul{
    padding-left:30px;
}

#introduccion table{
    padding-left:30px;
}

#profile{
    padding-top:15px;
}

#introduccion ul{
    padding-left:30px;
}

#container ul{
    padding-left:25px;
}

#about p{
    margin-top:5px;
    padding-left:10px;
    padding-right:2%;
    margin-bottom:5px;    
}

#contacto span.left{
    padding-left:5px;
}

#contacto span.right{
    float:right;
    padding-right:20px; 
}

#contacto a{
    padding-left:3px;
}

#contacto span{
    padding: 0 5px 0 5px;
    vertical-align: middle;
}


/*manipulacion de imagenes*/

.teedee{
    text-align: right;
}

#profile{
    padding-right:15px;
    padding-top:5px;
    max-width:80%;
}

#statspic{
    max-width: 100%;
}

#contacto img.icons{
    filter:invert(100%);
    vertical-align: middle;
}

#contacto img.icons:hover{
    filter:invert(70%)
}


/*manipulacion de tablas*/
td{
    width:50%;
}
*{
    margin:0;
    padding:0;
}

#container{
    max-width:50%;
}

table{
    width:97%;
    padding:0.5%;
    margin-left:1%;
    margin-bottom:1%;
}


h1{
    padding:20px;
}

h2{
    margin:1%;
    margin-left:30px;
}

div{
    display:inline-block; 
    padding:0; 
    margin:0;
    max-width:100%; 
}