@{
    ViewBag.Title = "Formacion Academica";
}

<main aria-labelledby="title">
     <h2>Formacion Academica</h2>

    <div class="row">
        <div class="col">

            <h4>Tecnicatura Universitaria en Programacion</h4>
            <h6>Universidad Tecnologica Nacional, Facultad Regional General
                Pacheco</h6>
            <p>2020-2023</p>
            
            <h4>Bachiller en Ciencias Naturales</h4>
            <h6>Instituto Angel D'Elia</h6>
            <p>2010-2016</p>
            
            <br/>
            
            <h3>Formacion Complementaria</h3>

            <h5>Desarrollo de RESTful API en .Net Core 6</h5>
            <h6>Alkemy, Bootcamp Softtek</h6>
            <p>2023</p>
            
            <h5>Java Essential</h5>
            <h6>LinkedIn Learning</h6>
            <p>2022</p>
        
            <h5>Reparacion de computadores e instalacion de redes</h5>
            <h6>Centro de Formacion Profesional 401, Fe y Alegria</h6>
            <p>2019</p>



        </div>
        <div class="col">
            <img src="~/Assets/Images/utn.jpg" class="  d-block ms-auto " style="max-height:95% ; max-width: 95%;" alt="Foto mia" id="profile">
        </div>
    </div>




</main>