
<main>
    <div id="introduccion"  style=" font-size: 18px; margin-bottom:-50px;" class="text-left row">
        <div class="col">
            <h1 data-i18n style="font-size: min(9vw, 72px )">¡Buenos dias!</h1>
            <br>
            <p data-i18n>Mi nombre es Martin Romero, y este es mi Portfolio (o CV como se lo conoce normalmente en el ambito web) <br/>
                Es un gusto que este aqui.
                Aqui usted puede acceder a: <br/> <br/>
                <button class="btn btn-link btn-lg" onclick="loadPage(2)">Los proyectos en los que he trabajado</button>
                <button class="btn btn-link btn-lg" onclick="loadPage(3)">El skillset que he desarrollado</button>
                <button class="btn btn-link btn-lg" onclick="loadPage(4)">Mi formacion, tanto academica como extracurricular</button>

     
            </p>
        </div>
        <div class="col">
            <br>
            <img src="../../Assets/Images/Foto_perfil.jpg" class="  d-block ms-auto " style="max-height: 75%; max-width: 75%;" alt="Foto mia" id="profile">
            <br>
        </div>
    </div>
    <hr/>
    <div id="about"  >
        <h2 data-i18n>Acerca de Mi</h2>
        <div class="wrapper bg-light rounded-lg p-3">
            <p data-i18n>Soy graduado de la Universidad Tecnologica Nacional en una tecnicatura enfocada a la programacion.<br/>
                Me forme en el Stack .Net, y he trabajado en el desarrollo de aplicaciones de escritorio, web, RESTFUL APIs y el consumo de estas.</p>
            <p data-i18n>
            </p>
            <p data-i18n>
                Me considero una persona metodica con buenas maneras para aproximarse a los problemas.<br/>
                Comunicativo en el ambito debido a mi desenvolvimiento en los proyectos, un ejemplo de esto es cuando me
                toca comunicarme con miembros de distintas ramas para un bien comun.<br/>
                Tambien soy una persona investigativa, en constante desarrollo y siempre formando y agrandando
                su abanico de herramientas
                
            </p>
            <p data-i18n>Entusiasta del sistema operativo Linux
        </p>
        </div>
    </div>

</main>