<main aria-labelledby="title">
    <h2>Proyectos</h2>
    
    <h3>Homefix</h3>
    <div class="row">
        <div class="col">
            Gestor de inventario de herramientas y artículos de construcción para el hogar
            que permite administrar y controlar el flujo de productos. <br/>
            Facilita un seguimiento preciso de las existencias, optimiza los niveles de inventario,
            previene escasez o exceso de productos, agilizando las operaciones y mejorando
            las tomas de decisiones. <br/><br/>
            
            <h4> Tecnologias aplicadas:</h4>
            <ul>
                <li>
                    .Net Core 6 / C#
                </li>
                <li>
                    Entity Framework
                </li>
                <li>
                    PostgreSQL
                </li>
                <li>
                    Json With Token (JWT)
                </li>
            </ul>
            
            <h4> Meritos en proyecto:</h4>
            <ul>
                <li>
                    Mediador entre las ramas de backend y frontend
                </li>
                <di>
                    Diseñador de la version original de la base de datos
                </di>
                <li>
                    Escritor de la documentacion de los endpoints
                </li>
            </ul>
            
            <a href="https://github.com/No-Country/c13-33-t-csharp">Enlace a repositorio en Github</a>
        </div>
        <div class="col">
            <img src="Assets/Images/homefix.png" class="  d-block ms-auto " style="max-height: 95%; max-width: 95%;" alt="Imagen de proyecto Homefix" id="profile">
        </div>
    </div>
    <br/>
    <hr/>
    <br/>
    <h3>Techoil</h3>
    <div class="row">
        <div class="col">
            <img src="Assets/Images/techoil.png" class="  d-block ms-auto " style="max-height: 95%; max-width: 95%;" alt="Imagen de proyecto Techoil" id="profile">
        </div>
        <div class="col">
            CRUD para administracion de operaciones y usuarios de una empresa petrolifera. <br/>
            Dividido en dos secciones: desarrollo de la API y consumo de esta<br/><br/>

            <h4> Tecnologias aplicadas:</h4>
            <ul>
                <li>
                    .Net Core 6 / C#
                </li>
                <li>
                    Entity Framework
                </li>
                <li>
                    SQL Server
                </li>
                <li>
                    MVC
                </li>
                <li>
                    Repository Pattern
                </li>
                <li>
                    Json With Token (JWT)
                </li>
                <li>
                    SALT cryptography
                </li>
            </ul>

            <h4> Meritos en proyecto:</h4>
            <ul>
                <li>
                    Desarrollador de ambas API y Aplicacion Web
                </li>
                <di>
                    Aprendizaje de encriptacion de contraseñas, patron repositorio, y Entity Framework "Code-First"
                </di>
                <li>
                    Implementacion de CORS, JWT
                </li>
            </ul>

            <a href="https://github.com/lvingman/softtek2023.integrador.front">Enlace a repositorio en Github (Front)</a>
            <br/>
            <a href="https://github.com/lvingman/softtek2023.integrador">Enlace a repositorio en Github (Backend / API)</a>
        </div>
    </div>
    <br/>
    <hr/>
    <br/>
      <h3>Kirifan</h3>
        <div class="row">
            <div class="col">
                Sitio web para un equipo de competicion de automoviles electricos.<br/>
                Permite la funcionalidad de administrar usuarios, los cuales estan divididos en
                Community Managers e ingenieros del equipo, organizar sponsors, y tambien un bulletin
                board para actualizar novedades.<br/><br/>
                
                <h4> Tecnologias aplicadas:</h4>
                <ul>
                    <li>
                        .Net Core 6 / C#
                    </li>
                    <li>
                        Entity Framework
                    </li>
                    <li>
                        SQL Server
                    </li>
                    <li>
                        Simple Mail Transfer Protocol (SMTP)
                    </li>
                </ul>
                
                <h4> Meritos en proyecto:</h4>
                <ul>
                    <li>
                        Diseñador de la base de datos
                    </li>
                    <li>
                        Implementacion de registro de usuarios
                    </li>
                    <li>
                        Desarrollo de un sistema de recuperacion de contraseñas vias SMTP
                    </li>
                    <li>
                        Aprendizaje del patron de arquitectura de software MVC y el ORM Entity Framework.
                    </li>
                </ul>
                
                <a href="https://github.com/marie177/Kirifan_LandingPageApp">Enlace a repositorio en Github</a>
            </div>
            <div class="col">
                <img src="Assets/Images/kirifan.png" class="  d-block ms-auto " style="max-height: 95%; max-width: 95%;" alt="Imagen de proyecto Kirifan" id="profile">
            </div>
        </div>
    
  

</main>