<main aria-labelledby="title">
    <h2 id="title">Skillset</h2>
    <div class="row">
   
        <div class="col">
            <h4>Skills de Desarrollador</h4>
            <ul>
                <li>
                    Desarrollo de aplicaciones web y de escritorio en C# y Java
                    <div class="row" style="width: 50%">
                        <div class="col">
                            <ul>
                                <li>
                                    Winforms
                                </li>
                                <li>
                                    Webforms
                                </li>
                                <li>
                                    ASP.NET
                                </li>
                                <li>
                                    MVC
                                </li>
                                <li>
                                    Razor
                                </li>
                            </ul>
                        </div>
                        <div class="col">
                            <ul>
                                <li>
                                    Apache Tomcat
                                </li>
                                <li>
                                    JDBC
                                </li>
                                <li>
                                    Servlets
                                </li>
                                <li>
                                    Data Access Objects
                                </li>
                            </ul>
                        </div>
                     
                    </div>
                </li>
                <li>
                    Construccion y consumo de RESTful APIs en .Net Core, encriptación y seguridad de
                    datos con SALT y JWT
                </li>
                <li>
                    Integracion de bases de datos con el ORM Entity Framework
                </li>
                <li>
                    Uso de frameworks y herramientas de front-end
                    <ul>
                        <li>
                            HTML
                        </li>
                        <li>
                            CSS
                        </li>
                        <li>
                            Bootstrap
                        </li>
                        <li>
                            jQuery
                        </li>
                    </ul>
                </li>
                <li>
                    Administracion de proyectos con Git en hosts tales como:
                    <ul>
                        <li>
                            Github
                        </li>
                        <li>
                            Gitlab
                        </li>
                        <li>
                            Bitbucket
                        </li>
                    </ul>
                </li>
                <li>
                    Administracion de bases de datos en SQL 
                    <ul>
                        <li>
                            SQL Server
                        </li>
                        <li>
                            MySQL
                        </li>
                        <li>
                            PostgreSQL
                        </li>
                        <li>
                            MS Access
                        </li>
                            
                    </ul>
                </li>
                
            </ul>
       

            
        </div>
        <div class="col-6 col-md-5 text-center">
            <div>
                <img src="Assets/Images/csharp.png" class="  img-fluid " style="max-height: 20%; max-width:20%; margin-right: 15%" alt="C# Logo" id="profile">
                <img src="Assets/Images/dotnet.png" class="  img-fluid " style="max-height: 20%; max-width: 20%;" alt=".Net Logo" id="profile">
                <br/> <br/>
                <br/> <br/>
                <img src="Assets/Images/java.png" class="  img-fluid " style="max-height: 23%; max-width: 23%; margin-right: 15%" alt="Java Logo" id="profile">
                <img src="Assets/Images/sql.png" class="  img-fluid " style="max-height: 23%; max-width: 23%;" alt="SQL Logo" id="profile">
                <br/> <br/>
                <br/> <br/>
                <img src="Assets/Images/html.png" class="  img-fluid " style="max-height: 23%; max-width: 23%; margin-right: 15%" alt="HTML Logo" id="profile">
                <img src="Assets/Images/css.png" class="  img-fluid " style="max-height: 23%; max-width: 23%;" alt="CSS Logo" id="profile">
                <br/> <br/>
                <br/> <br/>
                
            </div>

        </div>
       
    </div>
    <br/>
    <div class="row">
        <div class="col">
            <br/>
            <br/>
            <br/>
            <br/>   
            <img src="Assets/Images/tux.png" style="margin-left: 30%" alt="Tux" id="profile">

        </div>
        <div class="col">
            <h4>Skills Complementarios</h4>
            <ul>
                <li>
                    Manejo cotidiano del sistema operativo Linux (Ubuntu)
                    <ul>
                        <li>
                            Terminal   
                        </li>
                        <li>
                            Conexion a Redes
                        </li>
                        <li>
                            Packs de herramientas de software libre como LibreOffice
                        </li>
                        <li>
                            Compilacion de proyectos con CMake o scripts escritos en Bash
                        </li>
                        <li>
                            Instalacion de herramientas del ambito de inteligencia artificial como LLMs locales
                            y generacion de imagenes.
                        </li>
                    </ul>
                </li>
                <li>
                    Manejo del pack Microsoft Office
                    <ul>
                        <li>
                            Word
                        </li>
                        <li>
                            Excel
                        </li>
                        <li>
                            Powerpoint
                        </li>
                        <li>
                            Outlook
                        </li>
                        <li>
                            Access
                        </li>
                    </ul>
                </li>
                <li>
                    Armado, ensamblado, reparacion e instalacion de computadores, con Windows o Linux
                </li>
                <li>
                    Edicion de imagenes, audio y video
                    <ul>
                        <li>
                            Sony Vegas
                        </li>
                        <li>
                            Audacity
                        </li>
                        <li>
                            GIMP
                        </li>
                    </ul>
                </li>
                <li>Licencia de Conducir B2</li>
            </ul>
        </div>
    </div>
    
    
</main>